.board {
  background: #000;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.player-name {
  padding: 15px 45px;
  background: #dedede;
  color: #000;
  font-size: 20px;

  &-0 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(90deg) translateX(-50%);
  }

  &-1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &-2 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(-90deg) translateX(50%);
  }

  &-3 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: rotate(180deg) translateX(50%);
  }
}